numpy >= 1.26.0

astroquery==0.4.6
  astropy
    # numpy
    packaging
    pyerfa
      #numpy
    PyYAML
  beautifulsoup4
    soupsieve
  html5lib
    six
    webencodings
  keyring
    jaraco.classes
      more-itertools
    pywin32-ctypes
  # numpy
  pyvo
    astropy
      #numpy
      packaging
      pyerfa
        #numpy
      PyYAML
    # requests
  requests
    certifi
    charset-normalizer
    idna
    urllib3
    
matplotlib==3.8.2
  contourpy
    numpy
  cycler
  fonttools
  kiwisolver
  numpy
  packaging
  Pillow
  pyparsing
  python-dateutil
    six
    
mpmath==1.3.0
--pre gmpy2
  
pandas==2.1.3
  # numpy
  python-dateutil
    six
  pytz
  tzdata
  
Pint==0.22

  typing_extensions
pytest==7.4.3
  colorama
  iniconfig
  packaging
  pluggy
  
scipy==1.11.4
  # numpy
  
tqdm==4.66.1
  colorama


